@charset "utf-8";
body
{
	background:-color:#000;
	margin:0px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
}
#header
{
	background-color:#000;
	margin:10px;
	height:90px;
}/* CSS Document */

